@{
	ViewData["Title"] = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@model List<YVFlashCard.Areas.Admin.Models.ThemeModel>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Set Befor Postition -->
<script src="/AdminAssets/js/SaveScrollPosition.js"></script>
<!-- Validatetheme -->
<script src="/AdminAssets/js/ValidatethemeModel.js"></script>
<!-- Image process-->
<script src="/AdminAssets/js/ImageProcess.js"></script>
@{
	if (@ViewBag.CreateSuccess != null)
	{
		if (@ViewBag.CreateSuccess)
		{
			<div classs="container p-5">
				<div class="row no-gutters">
					<div class="col-lg-6 col-md-12 m-auto">
						<div class="alert alert-success fade show" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="True">&times;</span>
							</button>
							<h4 class="alert-heading">Well done!</h4>
							<p>This is an alert within a column. The column can be made any size at different viewpoints.</p>
						</div>
					</div>
				</div>
			</div>
		}
	}
	
}
<div class="app-content pt-3 p-md-3 p-lg-4">
	<div class="container-xl">
		<div class="row g-3 mb-4 align-items-center justify-content-between">
			<div class="col-auto">
				<h1 class="app-page-title mb-0">User Informations</h1>
			</div>	
			<div class="col-auto">
				<div class="page-utilities">
					<div class="row g-2 justify-content-start justify-content-md-end align-items-center">
						<div class="col-auto">
							@using (Html.BeginForm("Index", "Theme", FormMethod.Get, new { @class = "table-search-form row gx-1 align-items-center" }))
							{
								 <div class="col-auto">
									@Html.TextBox("keySearch", "", new {@type="text", @id="search-orders", @name="searchorders", @class="form-control search-orders", @placeholder="Search"})
								</div>
								<div class="col-auto">
									<button type="submit" class="btn app-btn-secondary">Search</button>
								</div>
									
							}
						</div>
						<div class="col-auto">
							<button class="btn btn-primary btn-small text-white" data-bs-toggle="modal" data-bs-target="#CreateThemeModal">New Theme</button>
							<div class="modal fade" id="CreateThemeModal" tabindex="-1" role="dialog" aria-labelledby="CreateThemeModal" aria-hidden="true">
								<div class="modal-dialog" role="document">

									@using (Html.BeginForm("create-theme", "Theme", FormMethod.Post, new { onsubmit = "return CreateNewThemeAsync(event);" }))
									{
			
										
										@Html.TextBox("author", "Admin", new {@type="hidden"})
										@Html.TextBox("currentPage", (int)ViewBag.CurrentPage, new {@type = "hidden"})
										@Html.TextBox("keySearch", (string)ViewBag.KeySearch, new {@type = "hidden"})
										<input type="hidden" name="IlluImg" id="PhotoArrayData" />

										<div class="modal-content">

											<div class="modal-header">
												<h5 class="modal-title" id="exampleModalLabel">Create new theme!</h5>
											</div>
											<div class="modal-body">


												<div class="mb-3">
													<label class="form-label">Theme name</label>
													@Html.TextBox("themeName", "", new {@class = "form-control",  @type="text",  @placeholder = "Theme name", @name="themeName"})

												</div>
												<div class="mb-3">
													<label class="form-label">Description</label>
													@Html.TextBox("mean", "", new {@class = "form-control", @tye="text",  @placeholder = "Description", @name="mean"})
												</div>
												<div class="mb-3">
													<label class="form-label">Illustration Image</label>
													<div class="text-center">
														<img Id="PhotoReview" src="/AdminAssets/images/profiles/profile-2.png" class="rounded" alt="...">
													</div>
													<input class="form-control" id="PhotoFileInput" type="file" accept=".jpg,.png">
												</div>
												<script>
													const fileInput = document.getElementById('PhotoFileInput');
													const previewImage = document.getElementById('PhotoReview');

													fileInput.addEventListener('change', function () {
														scaleImage(fileInput, previewImage, 200, 200);
														const file = fileInput.files[0];

														const reader = new FileReader();
														reader.readAsArrayBuffer(file);

														reader.onload = () => {
															const arrayBuffer = reader.result;
															const byteArray = new Uint8Array(arrayBuffer);
															//console.log(JSON.stringify(Array.from(byteArray)));
															document.getElementById("PhotoArrayData").value = JSON.stringify(Array.from(byteArray));
															
														}
														
													});
												</script>
											</div>
											<div class="modal-footer">
												<button type="submit" class="btn btn-primary">Save changes</button>
											</div>
										</div>

									}


								</div>
							</div>
							

						</div>
					</div><!--//row-->
				</div><!--//table-utilities-->
			</div><!--//col-auto-->
		</div><!--//row-->





		<div class="tab-content">
			<div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
				<div class="app-card app-card-orders-table shadow-sm mb-5">
					<div class="app-card-body">
						<div class="table-responsive">
							<table class="table app-table-hover mb-0 text-left">
								<thead>
									<tr>
										<th class="cell">Theme name</th>
										<th class="cell">Description</th>
										<th class="cell">Total level</th>
										<th class="cell"></th>
									</tr>
								</thead>
								<tbody>
									@{
										if (Model != null)
										{
															@for (int i = 0; i < Model.Count; i++)
											{
												var theme = Model[i];
																<tr>
																	<td class="cell">@theme.themeName</td>
																	<td class="cell">@theme.mean</td>
																	<td class="cell">N/a</td>

																	<td>
																		<button class="btn btn-primary btn-small text-white" data-bs-toggle="modal" data-bs-target="#changeInfoThemeModal-@theme.themeId">Detail</button>
																		<div class="modal fade" id="changeInfoThemeModal-@theme.themeId" tabindex="-1" role="dialog" aria-labelledby="changeInfoThemeModal-@theme.themeId" aria-hidden="true">
																			<div class="modal-dialog" role="document">

																		@using (Html.BeginForm("update-theme", "Theme", FormMethod.Post, new {  }))
																		{
																					@Html.TextBox("themeId", theme.themeId, new {@type = "hidden"})
																					@Html.TextBox("IllustrationImg", theme.IllustrationImg, new {@type = "hidden"})
																					@Html.TextBox("author", theme.author, new {@type="hidden"})
																					@Html.TextBox("currentPage", (int)ViewBag.CurrentPage, new {@type = "hidden"})
																					@Html.TextBox("keySearch", (string)ViewBag.KeySearch, new {@type = "hidden"})
																	

																					<div class="modal-content">

																						<div class="modal-header">
																							<h5 class="modal-title" id="exampleModalLabel">Change theme's information': @theme.themeName</h5>
																						</div>
																						<div class="modal-body">
																							

																							<div class="mb-3">
																								<label class="form-label">Theme name</label>
																								@Html.TextBox("themeName", theme.themeName, new {@class = "form-control",  @type="text",  @placeholder = "Theme name", @name="themeName"})

																							</div>
																							<div class="mb-3">
																				<label class="form-label">Description</label>
																								@Html.TextBox("mean",theme.mean, new {@class = "form-control", @tye="text",  @placeholder = "Description", @name="mean"})
																							</div>
																							<div class="mb-3">
																								<label class="form-label">Illustration Image</label>
																								<div class="text-center" id="PhotoReviewDiv">
																									<img Id="PhotoReview" src="" class="rounded" alt="...">
																								</div>
																								<script>
																									var byteArray = JSON.parse('@Html.Raw(Json.Serialize(theme.IllustrationImg))');
																									
																									var base64String = btoa(String.fromCharCode.apply(null, byteArray));
																									
																									var img = document.getElementById("PhotoReview");
																								
																									img.src = 'data:image/png;base64,' + base64String;
																								</script>
																							</div>

																						</div>
																						<div class="modal-footer">
																							<button type="submit" class="btn btn-primary">Save changes</button>
																						</div>
																					</div>
																		
																}


																			</div>
																		</div>
																
																	</td>
																</tr>
											}
											
										}
									}
								</tbody>
								
							</table>
						</div><!--//table-responsive-->

					</div><!--//app-card-body-->
				</div><!--//app-card-->

			</div><!--//tab-pane-->
		</div><!--//tab-content-->
		<div style="text-align: center;">
			@Html.ActionLink("Load more", "Index", "Theme", new {keySearch = @ViewBag.KeySearch, page = @ViewBag.CurrentPage + 1}, null)
		</div>
	</div><!--//container-fluid-->
</div><!--//app-content-->
<script>
	async function CreateNewThemeAsync(event) {
		event.preventDefault(); // Ngăn chặn form submit mặc định
		let check = true;
		if (check) {
			const form = event.target;
			const formData = new FormData(form);
			//event.target.submit();
			const response = await fetch(form.action, {
				method: form.method,
				body: formData
			});
			if (response.ok) {
				alert("Đã tạo Theme mới!");
				location.reload();
				return true;
			}
			else {
				alert("Lỗi khi tạo Theme!");
			}
			return false;
		}
	}
</script>
